.Ecard {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 1rem;
    overflow: hidden;
    width: 40vw;
    height: 35vh;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.1);
    margin: 5rem 0rem;
  }
  
  .Ecard-content {
    text-align: center;
    background-color: var(--pri);
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
  }
  
  .Etext-section {
    flex: 1;
    padding: 2rem;
    font-family: var(--ff);
  }

  .Etext-section h2 {
    font-size: 2.5rem;
  }

  .Etext-section p {
    padding-top: 1rem;
    font-size: 1.7rem;
  }

  .Expert-carousel{
    background-color: rgb(255, 255, 255);
    width: 18vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Ecarousel-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Ecarousel-section img {
    width: 25vw;
    height: 30vh;

  } 
   

  @media only screen and (max-width:600px){

    .Ecard {
      width: 80vw;
      height: 78vh;
      margin-top: 2rem;
    }
    
    .Ecard-content {
      display: grid;
    }

    .Expert-carousel{
      border-radius: 1rem;
      width: 68vw;
    }

    .Etext-section h2 {
      font-size: 3rem;
    }
  
    .Etext-section p {
      padding-top: 3rem;
      font-size: 2rem;
    }
  

  }