
.Lslider {
  width: 100vw;
  height: auto;
  margin: 5rem 0rem;
  overflow: hidden;
}

.Lslide-track {
  gap: 10rem;
  display: flex;
  width: calc(150px * 8); 
  animation: scroll 20s linear infinite;
}

.Lslide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Lslide img {
  filter:  saturate(200%);
  width: 15vw;
  height: 15vh;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 11)); /* Adjust based on the number of logos */
  }
}

/* @media only screen and (max-width:980px) {} */

/* @media only screen and (min-width:601px) and (max-width:768px){} */


@media only screen and (max-width:600px){

  .Lslider {
    overflow: hidden;
    width: 100vw;
    height: auto;
    margin: 3rem 0rem;
  
  }

  .Lslide img {
    width: 35vw;
    height: 13vh;
  }
 
}